{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap-social.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/css/font-awesome.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/css/catalog.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/css/layout-user.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/css/h2.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="fluir">
        <header>
            <div class="header row">
                <div class="col-md-4">
                    <h1 style="font-family: Monotype Corsiva; padding-top: 35px;">Натяжные потолки</h1>
                </div>
                <div class="col-md-5" style="padding-top: 35px;">
                    <p style=" font-size: 22px;"><img style="position: relative; bottom: 10px" src="{{ asset('bundles/image/maps-and-flags.svg') }}"> Работаем по всей Минской Области</p>
                    <p style="color: #c9004c;"><img style="position: relative; bottom: 3px" src="{{ asset('bundles/image/alarm-clock.svg') }}">   Время работы: пн-вс 09:00-18:00</p>
                </div>
                <div class="col-md-3" style="padding-top: 25px;">
                    <table class="phone-number">
                        <tr>
                            <td><img style="height:40px; width: 60px;" src="{{ asset('bundles/image/Velcom2.png') }}"></td>
                            <td style="font-size: 22px;">+375 29 500 06 00</td>
                        </tr>
                        <tr>
                            <td><img style="height:30px; width: 65px" src="{{ asset('bundles/image/mtc.jpg') }}"></td>
                            <td style="font-size: 22px;">+375 29 500 06 00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    {% if page == 'index' %}
                        {{ knp_menu_render('AppBundle:MenuBuilder:frontMenuIndex', {'currentClass': 'active'}) }}
                    {% elseif  page == 'our-works' %}
                        {{ knp_menu_render('AppBundle:MenuBuilder:frontMenuOurWorks', {'currentClass': 'active'}) }}
                     {% elseif  page == 'catalog' %}
                        {{ knp_menu_render('AppBundle:MenuBuilder:frontMenuCatalog', {'currentClass': 'active'}) }}
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <a class="btn btn-default call-me" id="call-me"
            style=" position: fixed; right:2%; bottom:7%">
                Заказать звонок <i class="glyphicon glyphicon-earphone"></i></a>
        </div>

        <div class="fluir">
            {% block content %}{% endblock %}
        </div>

        <footer class="footer" id="contact">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img style="height: 300px" src="{{ asset('bundles/image/footer.jpg') }}">
                    </div>
                    <div class="col-md-4 contact">
                        Наши контакты<br><br>
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        +375 29 500 06 00<br>
                        <i class="glyphicon glyphicon-phone"></i>
                        +375 29 500 06 00<br>
                        <i class="glyphicon glyphicon-earphone"></i>
                        +375 29 500 06 00

                    </div>
                    <div class="col-md-4 contact" >
                        Наши аккаунты в социальных сетях:<br><br>
                        <a class="btn btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a class="btn btn-social-icon btn-instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a class="btn btn-social-icon btn-vk">
                            <span class="fa fa-vk"></span>
                        </a>
                        <a class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon btn-odnoklassniki">
                            <span class="fa fa-odnoklassniki"></span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="popup row" hidden>
        <div class="col-md-6">
            <img style="height:253px; width: 320px; position: relative; bottom: -45px; left: 10px" src="{{ asset('bundles/image/phone.jpg') }}">
        </div>
        <div class="col-md-6">
            <i class="glyphicon glyphicon-remove close"></i>
            <p style="font-size: large;  margin-top: 20px"><strong>Закажите звонок и наш менеджер вам позвонит</strong></p>
            {{ form_start(callMeForm, {'attr' : {'class' : 'edit-form', 'autocomplete' : 'off'}}) }}
                {{ form_row(callMeForm.phone) }}
                {{ form_row(callMeForm.description) }}
                <button type="submit" class="btn control-buttons" >Позвонить</button><span style="color: red;"> Звонок <strong>БЕСПЛАТНЫЙ</strong></span>
            {{ form_end(callMeForm) }}
        </div>
    </div>
    <div id="popup-background" hidden></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/js/jssor.slider.min.js') }}"></script>
    <script src="{{ asset('bundles/js/scroll-header.js') }}"></script>
    <script src="{{ asset('bundles/js/popup-call-me.js') }}"></script>
{% endblock %}
