{% extends "@App/layout-admin.html.twig" %}

{% block title %}Создание заказа{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap-select.min.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <h2 class="sub-header">Создание заказа</h2>

    {{ form_start(orderForm, {'attr' : {'class' : 'edit-form'}}) }}
    {{ form_row(orderForm.name) }}
    {{ form_row(orderForm.phone) }}
    {{ form_row(orderForm.description) }}
    {{ form_row(orderForm.status) }}
    {{ form_row(orderForm.time_to_call) }}
    {{ form_row(orderForm.city) }}

    <button type="submit" class="btn control-buttons" formnovalidate>Сохранить</button>
    <button type="button" class="btn btn-danger control-buttons" onclick="history.back(-1)">Отмена</button>
    {{ form_end(orderForm) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}