{% extends "@App/layout-user.html.twig" %}

{% block title %}Натяжные потолки - Слуцк{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .slider {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1250px;
            height: 500px;
            overflow: hidden;
        }

        #slider1_container {
            visibility: hidden;
            position: relative;
            margin: -20px;
            width: 1250px;
            height: 500px;
            overflow: hidden;
        }
        .transparent {
            box-shadow: 0 0 50px rgba(0,0,0,0.06);
            transform: rotate(35deg);
            left: 19%;
            position: absolute;
        }
        .about-us-round {
            border-radius: 50%;
            width: 144px;
            height: 144px;
            text-align: center;
            position: relative;
            border: 5px solid rgba(0,0,0,0.2);
            box-shadow: 0 3px 5px rgba(0,0,0,0.2);
            overflow-x: hidden;
            overflow-y: hidden;
            margin-right: 65px
        }

        .about-us > h2{
            text-align: center;
            margin-bottom: 50px
        }
        .about-us-round > span, .about-us-round > p{
            color: white;
            position: absolute;
            text-align: center;
        }

        .about-us {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .circumference {
            height: 40px;
            width: 40px;
            position: absolute;
            left: 49px;
            top: 12px
        }

        .map {
            border-bottom: 5px solid rgba(0,0,0,0.2);
            border-radius:10px;
            position: absolute;
            left:50%;
            top:22%;
            background-color: #c9004c;
        }
        .map img{
            border-radius:10px;
            border-bottom: 5px solid rgba(0,0,0,0.2);
        }

        .info-map {
            height: 300px;
            width: 450px;
            z-index: 99;
            background-color: #c9004c;
            position: absolute;
            top: 31%;
            left: 7%;
            border-radius: 10px;
        }

        .info-map p {
            margin-top: 30px;
            font-size: 22px;
        }

        .block-map {
            height: 600px;
            background-image: url({{ asset('bundles/image/stars.svg') }});
            background-color: #262320;
            position: relative;
            z-index: 99;
            text-align: center;
            color: white;
            font-family: Helvetica, sans-serif;
            font-size: 40px;
        }

        .compare {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333333;
            font-size: 22px;
            margin: 10px;
            margin-bottom: 20px;
        }

        /*slider*/
        .arrow {display:block;position:absolute;cursor:pointer;transition: 1.2s ease;}
        .arrow .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .arrow:hover{background-color: rgba(0,0,0,0.8);}

        .dot {position:absolute;}
        .dot .i {position:absolute;cursor:pointer;}
        .dot .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
        .dot .i:hover .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-opacity:0.5;transition: 0.4s ease;}
        .dot .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
        .dot .i.idn {opacity:0.3;}

        .table-about-us tr > th {
            padding: 10px;
        }

        .pulse {
            background-image: url({{ asset('bundles/image/pulse1.png') }});
            background-repeat:repeat-x;
        }
    </style>
{% endblock %}

{% block content %}


    <div id="slider1_container">

        <!-- Slides Container -->
        <div u="slides" class="slider">
            <div>
                <img data-u="image" src="{{ asset('bundles/image/test-slider-image/001.jpg') }}" />
            </div>
            <div>
                <img data-u="image" src="{{ asset('bundles/image/test-slider-image/002.jpg') }}" />
            </div>
            <div>
                <img data-u="image" src="{{ asset('bundles/image/test-slider-image/003.jpg') }}" />
            </div>
            <div>
                <img data-u="image" src="{{ asset('bundles/image/test-slider-image/004.jpg') }}" />
            </div>
        </div>


        <div data-u="navigator" class="dot" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>


        <div data-u="arrowleft" class="arrow" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="arrow" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
    <br>
    <br>


    <div class="catalog" id="catalog">
        <div class="catalog_heading">
            КАТАЛОГ НАТЯЖНЫХ ПОТОЛКОВ
        </div>
        <div class="container container-catalog">
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img1.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #228B22;">
                    МАТОВЫЕ НАТЯЖНЫЕ ПОТОЛКИ
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img2.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #F08080;">
                    ГЛЯНЦЕВЫЕ НАТЯЖНЫЕ ПОТОЛКИ
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img3.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #20B2AA;">
                    НАТЯЖНЫЕ ПОТОЛКИ DOUBLE VISION
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img1.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #FF7F50;">
                    РЕЗНЫЕ ПОТОЛКИ APPLY
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img2.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #BA55D3;">
                    ПАРЯЩИЕ НАТЯЖНЫЕ ПОТОЛКИ
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img3.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #808080;">
                    ТКАНЕВЫЕ НАТЯЖНЫЕ ПОТОЛКИ
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img1.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #8B008B;">
                    НАТЯЖНЫЕ ПОТОЛКИ С ФОТОПЕЧАТЬЮ
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img2.jpg') }});"></div>
                <div class="catalog_item_text" style="background-color: #008080;">
                    МНОГОУРОВНЕВЫЕ НАТЯЖНЫЕ ПОТОЛКИ
                </div>
            </div>
            <div class="catalog_item">
                <div class="img" style="background-image: url({{ asset('bundles/image/test-catalog-image/img4.jpg') }}); height: 252px;">
                    <div class="img_text">Посмотреть весь каталог</div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h3 class="text-center">Сравнение цен крупнейших компаний на ранке</h3>
        <div class="container-columns" style="position: relative">
            <p class="border-bottom-grey text-middle comparisson-block_text" style="border-bottom: dotted 4px grey; margin-bottom: 80px">От $11</p>
            <p class="border-bottom-red text-middle comparisson-block_text" style="border-bottom: dotted 4px red;">От $5</p>
            <div class="column-prise column-upgroup" style="visibility: visible; height: 120px; width: 80px; background-color: green"></div>
            <div class="column-prise column-pink" style="visibility: visible; height: 165px; width: 80px; background-color: #eb88ba; position: absolute; bottom: 0px; left:20%"></div>
            <div class="column-prise column-green" style="visibility: visible; height: 190px; width: 80px; background-color: #31ba00; position: absolute; bottom: 0px; left:30%"></div>
            <div class="column-prise column-grey" style="visibility: visible; height: 150px; width: 80px; background-color: #b3b3b3; position: absolute; bottom: 0px; left:40%"></div>
            <div class="column-prise column-yellow" style="visibility: visible; height: 255px; width: 80px; background-color: #ffcc00; position: absolute; bottom: 0px; left:50%"></div>
            <div class="column-prise column-olive" style="visibility: visible; height: 210px; width: 80px; background-color: #cccc33; position: absolute; bottom: 0px; left:60%"></div>
            <div class="column-prise column-blue" style="visibility: visible; height: 180px; width: 80px; background-color: #5d9fc9; position: absolute; bottom: 0px; left:70%"></div>
        </div>
        <div class="column-bottom"></div>
        <div class="column-bottom column-bottom-text">
            <div class="row">
                <div class="col-md-1">
                    <p class="text-center compare">Мы</p>
                </div>
                <div class="col-md-10">
                    <p class="text-center compare">Другие компании</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p  class="pulse">w</p>
    </div>

    <div class="about-us container" id="about-us">
        <h2>О нас</h2>
        <div class="row">
            <div class="col-md-1"></div>
            <table class="table-about-us">
                <tr>
                    <th>
                        <div class="about-us-round" style="background-color: #f96f4a;">
                            <img class="transparent" src="{{ asset('bundles/image/transparent.png') }}">
                            <img class="circumference" src="{{ asset('bundles/image/circumference.png') }}">
                            <span style="left: 65px; top: 20px">5</span>
                            <p style="top: 45%; left: 53px;"><strong>ЛЕТ</strong></p>
                            <p style="top: 65%; left: 31px;">На рынке</p>
                        </div>
                    </th>
                    <th>
                        <p style="font-size:xx-large"><span style="color: #f96f4a">Н</span>а рынке <span style="color: #f96f4a">5</span> лет</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="about-us-round" style="background-color: #31ba00;">
                            <img class="transparent" src="{{ asset('bundles/image/transparent.png') }}">
                            <img class="circumference" src="{{ asset('bundles/image/circumference.png') }}">
                            <span style="left: 60px; top: 20px">10</span>
                            <p style="top: 45%; left: 53px;"><strong>ЛЕТ</strong></p>
                            <p style="top: 65%;left:33px;">Гарантии</p>
                        </div>
                    </th>
                    <th>
                        <p style="font-size:xx-large"><span style="color: #f96f4a">Г</span>арантия от производителя <span style="color: #f96f4a">10</span> лет</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="about-us-round" style="background-color: #eb88ba;">
                            <img class="transparent" src="{{ asset('bundles/image/transparent.png') }}">
                            <img class="circumference" src="{{ asset('bundles/image/circumference.png') }}">
                            <span style="left: 65px; top: 20px">5</span>
                            <p style="top: 45%; left: 60px;"><strong>%</strong></p>
                            <p style="top: 65%; left: 38px;">Скидка</p>
                        </div>
                    </th>
                    <th>
                        <p style="font-size:xx-large"><span style="color: #f96f4a">С</span>кидка <span style="color: #f96f4a">5%</span> при заказе всей квартиры</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="about-us-round" style="background-color: #5d9fc9;">
                            <img class="transparent" src="{{ asset('bundles/image/transparent.png') }}">
                            <img class="circumference" src="{{ asset('bundles/image/circumference.png') }}">
                            <span style="left: 60px; top: 20px">99</span>
                            <p style="top: 45%; left: 60px;"><strong>%</strong></p>
                            <p style="top: 60%; left: 4px;">Довольных клиентов</p>
                        </div>
                    </th>
                    <th>
                        <p style="font-size:xx-large"><span style="color: #f96f4a">99%</span> наших клиентов довольны нашей работой</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="about-us-round" style="background-color: green;">
                            <img class="transparent" src="{{ asset('bundles/image/transparent.png') }}">
                            <img class="circumference" src="{{ asset('bundles/image/circumference.png') }}">
                            <span style="left: 65px; top: 20px">2</span>
                            <p style="top: 45%; left: 30px;"><strong>БРИГАДЫ</strong></p>
                            <p style="top: 65%; left: 11px;">Монтажников</p>
                        </div>
                    </th>
                    <th>
                        <p style="font-size:xx-large"><span style="color: #f96f4a">2</span> бригады опытных монтажников</p>
                    </th>
                </tr>
            </table>
        </div>
    </div>


    <div class="block-map">
        <div id="map" style="padding-bottom: 50px"></div>
        <p class="title-map">Где нас найти в Слуцке?</p>
        <div class="info-map">
            <p>
                3-й Железнодорожный пер., 23
            </p>
            <p>
                с 9.00 до 18.00
            </p>
            <p>
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </p>
            <p>
                <i class="glyphicon glyphicon-phone-alt"></i>
                +375 29 500 06 00<br>
                <i class="glyphicon glyphicon-phone"></i>
                +375 29 500 06 00<br>
                <i class="glyphicon glyphicon-earphone"></i>
                +375 29 500 06 00
            </p>
        </div>
        <a class="map" href="https://yandex.ru/maps/?um=constructor%3Afbb732387346bc90c949dc72358955e8f06fd4c1cef4b3d21dcd7d3ea40d3860&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Afbb732387346bc90c949dc72358955e8f06fd4c1cef4b3d21dcd7d3ea40d3860&amp;width=512&amp;height=418&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
    </div>


{% endblock %}