{% extends "@App/layout-user.html.twig" %}

{% block title %}Наши работы{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/css/our-works.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container our-works" id="our-works">
        <h2>Наши работы</h2>
        <div class="row">
            <div class="box effect2 col-xs-6 col-md-4" data-number = "1" style="background-image: url({{ asset('bundles/image/your-work1.png') }})"></div>
            <div class="box effect2 col-xs-6 col-md-4" data-number = "2" style="background-image: url({{ asset('bundles/image/your-work2.jpg') }})"></div>
            <div class="box effect2 col-xs-6 col-md-4" data-number = "3" style="background-image: url({{ asset('bundles/image/your-work3.jpg') }})"></div>
        </div>
        <div class="row">
            <div class="box effect2 col-xs-6 col-md-4" data-number = "4"  style="background-image: url({{ asset('bundles/image/your-work4.jpg') }})"></div>
            <div class="box effect2 col-xs-6 col-md-4" data-number = "5"  style="background-image: url({{ asset('bundles/image/your-work5.jpg') }})"></div>
            <div class="box effect2 col-xs-6 col-md-4" data-number = "6"  style="background-image: url({{ asset('bundles/image/your-work6.jpg') }})"></div>
        </div>
        <div class="row">
            <div class="box effect2 col-xs-6 col-md-4" data-number = "7"  style="background-image: url({{ asset('bundles/image/your-work7.jpg') }})"></div>
            <div class="box effect2 col-xs-6 col-md-4" data-number = "8"  style="background-image: url({{ asset('bundles/image/your-work8.jpg') }})"></div>
            <div class="box effect2 col-xs-6 col-md-4" data-number = "9"  style="background-image: url({{ asset('bundles/image/your-work9.jpg') }})"></div>
        </div>
    </div>
    <div class="black-background" hidden>
        <i class="glyphicon glyphicon-remove close-black-background"></i>
    </div>
    <div class="div-black-background-image" hidden>
        <i class="glyphicon glyphicon-chevron-left"></i>
        <img class="black-background-image">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/our-works.js') }}"></script>
{% endblock %}

